body {
  background-color: #044a0c;
}
@font-face {
  font-family: "tvNEnjoystories";
  src: url("../fonts/tvN 즐거운이야기 Light.ttf") format("truetype");
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.title {
  width: 90%;
  max-width: 390px;
  position: relative;
  margin: 5vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2.5 / 1; /* 높이 자동 조절 */
}

.clock {
  width: 30%;
  aspect-ratio: 1 / 1;
}

.title-image {
  position: absolute;
  width: 70%;
  max-width: 267px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: 1024px) {
  .title {
    max-width: 1200px;
  }
  .title-image {
    width: 50%;
    max-width: 564px;
  }
  .clock {
    width: 30%;
    max-width: 261px;
    aspect-ratio: 1 / 1;
  }
}

.sub-title {
  text-align: center;
  font-size: clamp(22px, 5vw, 36px);
  color: #f5df4d;
  font-family: "tvNEnjoystories";
  line-height: 1.2;
  margin: clamp(10px, 1vw, 20px) 0;
}
.law-container {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.law-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.law-explain {
  font-size: clamp(14px, 2vw, 24px);
  color: #ffffff;
  font-family: GmarketSansMedium;
  margin: 0;
  line-height: 1.4;
  position: relative;
  z-index: 2;
}

.law-explain strong {
  font-family: GmarketSansBold;
  font-weight: 700;
}
.quotes {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(300px, 30vw, 400px);
  opacity: 0.7;
  z-index: 1;
}
.input-word {
  font-size: clamp(14px, 2vw, 24px);
  color: #ffffff;
  font-family: GmarketSansMedium;
  margin: 0;
  line-height: 1.8;
  position: relative;
}
.fill-input {
  width: clamp(156px, 16vw, 228px);
  height: 37px;
  border-radius: 7px;
  color: black;
}
.fill-input::placeholder {
  color: #babcbe;

  text-align: center;
}
