body {
  background-color: #044a0c;
}
@font-face {
  font-family: "tvNEnjoystories";
  src: url("./fonts/tvN 즐거운이야기 Light.ttf") format("truetype");
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 맨위 타이틀 */
.title {
  width: 90%;
  max-width: 390px;
  position: relative;
  margin: 1vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2.5 / 1; /* 높이 자동 조절 */
}
/* 타이틀 시계 이미지*/
.clock {
  width: 30%;
  aspect-ratio: 1 / 1;
}
/* 타이틀 표제 이미지 */
.title-image {
  position: absolute;
  width: 70%;
  max-width: 267px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: 1024px) {
  .title {
    max-width: 1200px;
  }
  .title-image {
    width: 50%;
    max-width: 564px;
  }
  .clock {
    width: 30%;
    max-width: 261px;
    aspect-ratio: 1 / 1;
  }
}
/* 부제 타이틀 스타일 */
.sub-title {
  text-align: center;
  color: #f5df4d;
  font-family: "tvNEnjoystories";
  line-height: 1.2;
}
.sub-title-p {
  font-size: clamp(22px, 5vw, 36px);
  margin: clamp(10px, 1vw, 20px) 0;
}
@media (min-width: 1024px) {
  .sub-title-p {
    font-size: 36px;
    margin: 20px;
  }
}
/* 공통적인 문단 스타일 */
.common-container {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
/*  */
.common-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
/* 법칙설명 하는 문장 스타일 */
.law-explain {
  font-size: clamp(14px, 2vw, 24px);
  color: #ffffff;
  font-family: GmarketSansMedium;
  margin: 0;
  line-height: 1.4;
  position: relative;
  z-index: 2;
}
/* 강조부분 */
.law-explain strong {
  font-family: GmarketSansBold;
  font-weight: 700;
}
/* 따음표 이미지 */
.quotes {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: clamp(300px, 33vw, 550px);
  opacity: 0.7;
  z-index: 1;
  display: block;
}
@media (min-width: 1024px) {
  .law-explain {
    font-size: 24px;
  }
  .quotes {
    width: 550px;
  }
}
/* 인풋박스를 포함한 문단 스타일 */
.input-word {
  font-size: clamp(14px, 2vw, 24px);
  color: #ffffff;
  font-family: GmarketSansMedium;
  margin: 0;
  line-height: 1.8;
  position: relative;
}
/* 인풋박스 스타일 */
.fill-input {
  width: clamp(156px, 18vw, 228px);
  height: 37px;
  border-radius: 7px;
  color: black;
  width: 100px;
  min-width: 80px;
  font-size: 14px;
  text-align: center;
}

.fill-input::placeholder {
  color: #babcbe;
  text-align: center;
}

/* 모바일: 세 줄 */
.input-word .first-line,
.input-word .second-line,
.input-word .third-line {
  display: block;
  margin-top: 5px;
  line-height: 3;
}

/* 데스크탑 두 번째, 세 번째 줄 한 줄로 합치기 */
@media (min-width: 1024px) {
  .input-word .second-line,
  .input-word .third-line {
    display: inline;
    margin-top: 0;
    line-height: 3;
  }
  .fill-input {
    width: 228px;
    font-size: 24px;
  }
}
/* 버튼과 이미지를 포함한 구조 스타일 */
.btn-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 40px;
  width: 100%;
}

/* 큰 버튼 스타일 */
.btn-bigbtn {
  font-size: 14px;
  font-family: GmarketSansBold;
  border: none;
  background-color: #fcee21;
  color: #5b2386;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: clamp(241px, 24vw, 565px);
  height: 68px;
  border-radius: 13px;
  padding: 23px 20px 21px 20px;
  gap: 10px;
  line-height: 1.4;
  transition: transform 0.3s ease;
}
.btn-bigbtn:hover {
  transform: scale(1.05);
}

.btn-bigbtn .first-part,
.btn-bigbtn .second-part {
  display: block;
}
/* 클릭 이미지 */
.click {
  position: absolute;
  width: 43px;
  height: 48px;
  left: 50%; /* 버튼 기준 중앙 */
  transform: translateX(280%) translateY(35%);
  opacity: 1;
}

/* 데스크탑 */
@media (min-width: 1024px) {
  .btn-bigbtn {
    width: 565px;
    height: 66px;
    border-radius: 56px;
    padding: 21px 49px;
    gap: 10px;
    flex-direction: row;
    white-space: nowrap;
    font-size: 24px;
  }

  .btn-bigbtn .first-part,
  .btn-bigbtn .second-part {
    display: inline;
  }

  .click {
    width: 64px;
    height: 72px;
    transform: translateX(430%) translateY(35%);
  }
}
/*  */
.law-explain span {
  display: block;
  font-size: 14px;
}
/* 강조 글자 스타일 */
.big-character {
  font-size: 24px;
  margin: 4px;
}
@media (min-width: 1024px) {
  .law-explain span {
    font-size: 24px;
  }
  .big-character {
    font-size: 72px;
    margin: 10px;
  }
}
/* 버튼 두개를 가진 구조의 스타일 */
.two-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 10px;
  font-size: 14px;
}
/*go버튼 */
.btn-gobtn {
  background-color: #fcee21;
  color: #5b2386;
  border-radius: 56px;
  width: clamp(186px, 20vw, 356px);
  height: clamp(40px, 4vw, 66px);
  cursor: pointer;
  font-family: GmarketSansBold;
  transition: transform 0.3s ease;
}
/* 공유하기 버튼 */
.btn-share {
  background-color: #ffffff;
  color: #5b2386;
  border-radius: 56px;
  width: clamp(92px, 9vw, 191px);
  height: clamp(40px, 4vw, 66px);
  font-family: GmarketSansBold;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.btn-share:hover {
  transform: scale(1.1);
}
.btn-gobtn:hover {
  transform: scale(1.1);
}

@media (min-width: 1024px) {
  .btn-gobtn {
    width: 356px;
    height: 66px;
    font-size: 24px;
  }
  .btn-share {
    width: 191px;
    height: 66px;
    font-size: 24px;
  }
}
