body {
  background-color: #044a0c;
}
@font-face {
  font-family: "tvNEnjoystories";
  src: url("../fonts/tvN 즐거운이야기 Light.ttf") format("truetype");
}
.title {
  width: 90%;
  max-width: 390px;
  position: relative;
  margin: 5vw auto;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2.5 / 1; /* 높이 자동 조절 */
}

.clock {
  width: 30%;
  aspect-ratio: 1 / 1;
}

.title-image {
  position: absolute;
  width: 70%;
  max-width: 267px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (min-width: 1024px) {
  .title {
    max-width: 1200px;
  }
  .title-image {
    width: 50%;
    max-width: 564px;
  }
  .clock {
    width: 30%;
    max-width: 261px;
    aspect-ratio: 1 / 1;
  }
}

.sub-title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 22px;
  color: #f5df4d;
  font-family: "tvNEnjoystories";
  line-height: 100%;
  vertical-align: middle;
}
